@font-face {
  font-family: 'Innovator Grotesk';
  src: url('fonts/InnovatorGrotesk/InnovatorGrotesk-Thin.woff2') format('woff2'),
      url('fonts/InnovatorGrotesk/InnovatorGrotesk-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Innovator Grotesk';
  src: url('fonts/InnovatorGrotesk/InnovatorGrotesk-Regular.woff2') format('woff2'),
      url('fonts/InnovatorGrotesk/InnovatorGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Innovator Grotesk';
  src: url('fonts/InnovatorGrotesk/InnovatorGrotesk-Medium.woff2') format('woff2'),
      url('fonts/InnovatorGrotesk/InnovatorGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Innovator Grotesk Semi';
  src: url('fonts/InnovatorGrotesk/InnovatorGrotesk-SemiBold.woff2') format('woff2'),
      url('fonts/InnovatorGrotesk/InnovatorGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Innovator Grotesk';
  src: url('fonts/InnovatorGrotesk/InnovatorGrotesk-Bold.woff2') format('woff2'),
      url('fonts/InnovatorGrotesk/InnovatorGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
